@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #d1fdff;
	font-family: 'STIX Two Math', serif;
}

main{
	width: 60%;
	height: 1140px;
	margin-left: auto;
	margin-right: auto;
	background-color: #264d4f;
}

header{
	width: 100%;
	height: 200px;
	background-image: url(fq2.png);
	background-color: #7dc4c7;
}

#caja{
	border-right: 4px solid #000000;
	border-left: 4px solid #000000;
}

#nombre{
	height: 100px;
	width: 200px;
	background-color: #264d4f;
	color: #6fc3c7;
	text-align: center;
	font-size: 50px;
	margin-left: 5%;
	padding-top: 50px;
}

nav{
	width: 100%;
	height: 20px;
	background-color: #264d4f;
}

#dos{
	width: 40%;
	height: 820px;
	background-color: #264d4f;
	float: right;
}

#imagenes{
	float: right;
	margin-right: 5%;
}


#uno{
	width: 60%;
	height: 820px;
	background-color: #264d4f;
	float: left;
}

#texto1{
	float: left;
	font-size: 20px;
	width: 550px;
	margin-top: 12%;
	margin-left: 5%;
	color: #000000;
	background-color: #d1fdff;
	border: 5px outset #1C6EA4;
	border-radius: 40px;
	padding: 3%;
}

footer{
	background-color: #d1fdff;
	width: 100%;
	height: 100px;
	clear: both;
}

#nombre{
	height: 100px;
	width: 200px;
	background-color: #264d4f;
	color: #6fc3c7;
	text-align: center;
	font-size: 50px;
	margin-left: 5%;
	padding-top: 50px;
}

.logoup{
	margin-left: 8%;
	margin-top: 1%;
	float: left;
}

.agus{
	color: #264d4f;
	float: left;
	margin-left: 25%;
	margin-top: 5%;
}

#logo{
	float: right;
	width: 350px;
}

#logo li{
	display: inline;
}

#logo li img{
	text-decoration: none;
	padding-top: 5%;
	margin-left: 10%;
	margin-top: 6%;
}


/*Large*/
@media (min-width: 992px) and (max-width: 1199)
{ 

main{
	width: 90%;
	height: 3000px;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
}

#texto1{
	float: left;
	width: 580px;
	font-size: 20px;
	margin-top: 15%;
	margin-left: 5%;
	color: #000000;
	background-color: #d1fdff;
	border: 5px outset #1C6EA4;
	border-radius: 40px;
	padding: 3%;
}

#imagenes{
	float: right;
	margin-right: 1px;
}

.noesta{display: none;}

.foto{
	margin-top: 5%;
}

.agus{
	color: #264d4f;
	float: left;
	margin-left: 5px;
	margin-top: 2%;
}

#logo{
	float: right;
	width: 20px;
}

#logo li{
	display: inline;
}

#logo li img{
	text-decoration: none;
	padding-top: 5%;
	margin-left: 2%;
	margin-top: 2%;
}

}
}

/*X Large*/
@media (min-width: 1200px) and (max-width: 1399px)
{
main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #264d4f;
}



#imagenes{
	float: right;
	margin-right: 1px;
}

#texto1{
	float: left;
	width: 520px;
	font-size: 20px;
	margin-top: 10%;
	margin-left: 2%;
	color: #000000;
	background-color: #d1fdff;
	border: 5px outset #1C6EA4;
	border-radius: 40px;
	padding: 3%;
}

}





/*XX Large*/
@media (min-width: 1400px)
{  

main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #264d4f;
}

header{
	width: 100%;
	height: 200px;
	background-image: url(fq2.png);
	background-color: #7dc4c7;
	background-repeat: no-repeat;
}

#texto1{
	float: left;
	width: 600px;
	font-size: 20px;
	margin-top: 8%;
	margin-left: 5%;
	color: #000000;
	background-color: #d1fdff;
	border: 5px outset #1C6EA4;
	border-radius: 40px;
	padding: 3%;
}

#imagenes{
	float: right;
	margin-right: 10%;
}


footer{
	width: 100%;
	height: 100px;
	background-color: #d1fdff;
	clear: both;
}

}